#reviews {
  max-width: 580px;
  margin-left: 100px;
}

.total-reviews {
  position: relative;
  font-size: 20px;
  top: 22px;
  font-family: Roboto;
  font-size: 24px !important;
  font-weight: 800 !important;
  line-height: 1.25em !important;
  color: #484848 !important;
}

.search-features {
  position: relative;
  font-family: Nunito;
  font-size: 14px;
  top: 8px;
  height: 6px;
  display: none;
}

#star-container {
  /* position: relative; */
  /* left: 136px;
  bottom: 40px; */
}

.right-star-category-container, .left-star-category-container {
  position: relative;
  left: 145px;
  bottom: 28px;
}

.rating-category-container {
  position: relative;
  font-family: Nunito, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 118px;
  color: #484848;
  background-color: #fff;
  display: flex;  
  bottom: 0px;
}

#star0, #star1, #star2, #star3, #star4 {
  position: relative;
  left: 144px;
  bottom: 56px;
  padding-right: 6px;
  width: 4%;
  height: 4%;
}

.accuracy-category-star0, .accuracy-category-star1, .accuracy-category-star2, .accuracy-category-star3, .accuracy-category-star4, .communication-category-star0, .communication-category-star1, .communication-category-star2, .communication-category-star3, .communication-category-star4, .cleanliness-category-star0, .cleanliness-category-star1, .cleanliness-category-star2, .cleanliness-category-star3, .cleanliness-category-star4, .location-category-star0, .location-category-star1, .location-category-star2, .location-category-star3, .location-category-star4, .check-in-category-star0, .check-in-category-star1, .check-in-category-star2, .check-in-category-star3, .check-in-category-star4, .value-category-star0, .value-category-star1, .value-category-star2, .value-category-star3, .value-category-star4 {
  position: relative;
  top: 3px;
  padding-right: 6px;
  width: 7%;
  height: 7%;
}

.review-container {
  position: relative;
  font-family: Nunito, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  bottom: -10px;
}

.name {
  position: relative;
  font-weight: 700 !important;
  left: 57px;
  bottom: 42px;
  font-size: 16px;
}

.date {
  position: relative;
  font-size: 15px;
  left: 57px;
  bottom: 42px;
}

.avatar {
  position: relative;
  width: 7%;
  height: 7%;
  border-radius: 50%;
}

.text {
  position: relative;
  bottom: 30px;
  font-size: 16px;
}

.response-avatar {
  position: relative;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  top: 15px;
  left: 18px;
}

.response-name {
  position: relative;
  font-weight: 700 !important;
  left: 68px;
  bottom: 20px;
  font-size: 16px;
}

.response-text {
  position: relative;
  left: 68px;
  bottom: 18px;

  font-size: 16px;
}

.response-date {
  position: relative;
  font-size: 15px;
  left: 68px;
  bottom: 8px;
  color: #767676;
}

.response-container {
  width: 512px;
}

.first-column {
  position: relative;
}

.second-column {
  position: relative;
  left: 30px;
}

.rating-category {
  display: block;
  height: 12px;
}

hr {
  display: block;
  /* height: 1px; */
  border: 0;
  border-top: 1px solid rgb(228, 228, 228);
  margin: 1em 0;
  padding: 0;
}

hr.divider {
  display: block;
  position: relative;
  bottom: 15px;
  border-top: 1px solid rgb(228, 228, 228);
  margin: 8px 0 12px 0 !important;
  padding: 0;
}

.header-divider1 {
  margin-bottom: 0 !important;
}

.header-divider2 {
  margin-top: 0 !important;
}

.search-form {
  position: relative;
  left: 390px;
  bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgb(228, 228, 228);
  padding: 10px; 
  width: 190px;
  height: 33px;
  background: url(./images/magnifying-glass.png) no-repeat scroll 9px 9px;
  background-size: 14px 14px;
  padding-left: 30px;
  z-index: 1;
}

.show-all-reviews {
  display: none;
  position: relative;
  font-size: 14px;
  left: 445px;
  top: 4px;
}

.clear-input {
  display: none;
  z-index: 2;
}

input:focus {
  outline: none;
  border: 1px solid #008489;
}

input::placeholder {
  position: relative;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  top: 2px;
}

button {
  background: none !important;
  color: #008489;
  border: none; 
  padding: 0 !important;
  font-family: Nunito;
  font-size: 16px;
  cursor: pointer;
}

button.show-all-reviews:focus, button.read-more-button:focus {
  outline: none;
}

button.show-all-reviews:hover, button.read-more-button:hover {
  text-decoration: underline;
}

.clear-input {
  position: relative;
  color: rgb(165, 165, 165);
  height: 0px;
  left: 556px;
  bottom: 39px;
  font-size: 18px;
  outline: none;
}

.pagination>li:first-child>a, .pagination>li:last-child>a {
  border-radius: 50%;
  text-decoration: none !important;
  border-color: #008489 !important;
}

.pagination>li>a, .pagination>li>span {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  margin: 6px;
  border-color: white;
}

.pagination>li.next>a {
  color: #008489;
  border-color: #008489 !important;
}

.pagination>li.previous>a:hover, .pagination>li.next>a:hover {
  background-color: white !important;
}

a:not(.active) {
  background-color: white !important;
  border-color: white !important;
}

.pagination>li.break-me>a {
  position: relative;
  bottom: 4px;
  pointer-events: none;
}

[role=button]:focus {
  outline: none;
}

[role=button]:hover {
  text-decoration: underline;
}

[role=button] {
  border-radius: 50%;
}

.pagination>.active>a {
  background-color: #008489 !important;
}

.previous.disabledButtons, .next.disabledButtons {
  display: none;
}